@import url('https://fonts.googleapis.com/css?family=Yeon+Sung');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Yeon+Sung');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Roboto|Yeon+Sung');
body {
  background: black;
}

h1, h4, h3 {
  font-family: 'Yeon Sung', cursive;
  color: white;
}

h2.display-2.text-center.md-5 {
  font-family: 'Leckerli One', cursive;
  margin-top: 13rem;
  color: white;
}

form {
  color: white;
  margin-top: 3em;
  margin-left: 27em;
}

main {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 1em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}